.App {
  font-family: sans-serif;
}

h3 {
  margin-top: 0;
}

.flex {
  display: flex;
}

.flex > div {
  padding: 0.5rem;
}

.box {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #e0e0e0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
